<div class="container">
  <div class="container-fluid d-flex flex-wrap gap-2 listagem">
    <div class="card" *ngFor="let item of listagem" style="width: 18rem">
      <img
        src="{{ item.imagem }}"
        class="card-img-top"
        alt="{{ item.titulo }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ item.titulo }}</h5>
        <p class="card-text">
          {{ item.descricao }}
        </p>
        <a href="#" class="btn btn-primary" style="text-align: center"
          >Download</a
        >
      </div>
    </div>
  </div>
</div>
